/* General Styles */
body, p, .bodytext, .contactpage {
  font-family: Georgia;
  color: #595959;
}

.headertext,
.headertext-no-shadow {
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-size: 29px;
  font-weight: 100;
  letter-spacing: 0.14rem;
}

.headertext {
  margin: 10px 40px 30px 45px;
  justify-content: left;
  color: #fff;
}

.headertext-no-shadow {
  color: #C55A11;
  justify-content: center;
  
}

.headertext-contact {
  color: #C55A11;
  justify-content: left;
  font-size: 29px;
  font-weight: 100;
}

/* Background Images */
.homepage-bg-img,
.aboutpage-bg-img,
.servicespage-bg-img,
.contactpage-bg-img {
  padding-top: 20px;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.homepage-bg-img {
  background-image: url('../src/assets/home_page.jpg');
}

.aboutpage-bg-img {
  background-image: url('../src/assets/about_page.jpg');
}

.servicespage-bg-img {
  background-image: url('../src/assets/services.jpg');
}

.contactpage-bg-img {
  background-image: url('../src/assets/contact_page.jpg');
}

/* Container Styles */
.container {
  max-width: 768px;
  margin: auto;
  padding: auto;
  font-family: Helvetica;
  color: #595959;
}

.row {
  display: flex;
  margin: -20px;
  align-items: center;
  justify-content: center;
}

.col-md-4 {
  flex: 0 0 calc(33.3333% - 30px);
  max-width: calc(33.3333% - 30px);
  margin: 15px;
}

/* Forms */
form {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

input,
select,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 4px;
}

textarea {
  width: calc(100% - 10px);
}

select {
  width: 50%;
}

button {
  padding: 10px 20px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}