.headertext {
  font-family: Georgia;
  color: #595959;
  font-size: 14px;
  text-align: center;
}

.bodytext {
  font-family: Helvetica;
  color: #595959;
  font-size: 12px;
}

.navbar {
  background-color: #FFE6D1;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wisetcc {
  color: #595959;
  font-family: Georgia;
  font-size: 14px;
  margin: 0 20px;
}

.centered-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* Occupy remaining space */
}

.nav-item {
  margin-right: 10px;
  text-decoration: none;
  color: #595959;
  font-family: Georgia;
  font-size: 12px;
}

.nav-item + .nav-item {
  margin-left: 10px;
}

.nav-item:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  color: #595959;
  margin-left: 10px;
  font-size: 18px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #4caf50;
}

.social-item {
  margin-left: 10px;
  text-decoration: none;
  color: #595959;
  font-family: Georgia;
  font-size: 12px;
}

.contactpage {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: #595959;
  font-size: 12px;
}

form {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

label {
  min-width: 120px;
  margin-right: 10px;
}

input,
select,
textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  width: 100%;
}

#salutation {
  width: auto;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Helvetica;
  color: #595959;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.col-md-4 {
  flex: 0 0 calc(33.3333% - 30px);
  max-width: calc(33.3333% - 30px);
  margin: 15px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
}