/* Contact Page */
.contactpage-container {
  display: flex;
}

.contact-details,
.contact-form {
  flex: 1;
  margin: 5px 25px;
}

.contact-form {
  margin-top: -5px;
}

/* Contact Page Form */
.contact-form-container form {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.contact-form-container .form-group {
  margin-bottom: 20px;
}

.contact-form-container label {
  display: block;
}

.contact-form-container input,
.contact-form-container select,
.contact-form-container textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.contact-form-container textarea {
  width: 100%;
}

.contact-form-container select {
  width: 100%;
}

.contact-form-container .form-group-inline {
  display: flex;
  gap: 10px;
}

.contact-form-container .form-group-inline div {
  flex: 1;
}

.contact-form-container .form-group-inline label {
  flex: 1;
}

.contact-form-container .form-group-inline input {
  flex: 2;
}

.contact-form-container button {
  padding: 10px 20px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}