.contactpage-container {
  display: flex;
  font-family: Georgia;
  color: #595959;
  font-size: 16px; /* 12pt */
}

.contact-details,
.contact-form {
  flex: 2;
  margin: 5px 20px;
  padding: 0 20px;
}

.contact-details {
  margin-left: 100px;
}

.contact-form {
  margin-top: -5px;
  margin-left: -300px;
  margin-right: -600px;
}

.google-map {
  padding: 10px;
  margin-left: 110px;
  margin-right: -120px;
}

/* Contact Page Form */
.contact-form-container {
  font-family: Georgia;
  width: 200%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 16px;
  align-items: center;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: smaller;
}

.name-container,
.phone-container {
  display: flex;
  gap: 5px;
}

.name-container div,
.phone-container div {
  margin-top: -5px;
  margin-bottom: 15px;
}

.name-container input,
.phone-container input,
.contact-form-container textarea,
.contact-form-container input[type="email"] {
  width: calc(100% - 5px);
  margin-right: 10px;
}

.name-container .firstname-input {
  width: 200px;
}

.name-container .lastname-input {
  width: 260px;
}

.phone-container .country-input {
  width: calc(80% - 5px);
}

.phone-container .number-label {
  margin-left: -28px;
}

.phone-container .number-input {
  width: calc(260% - 10px);
  margin-left: -30px;
}

.phone-container div:last-child {
  margin-right: 0;
}

.contact-form-container .email-label,
.contact-form-container .message-label {
  font-size: 16px;
}