/* Contact Page */
.contactpage-container {
  display: flex;
  font-family: Georgia;
  color: #595959;
  font-size: 16px; /* 12pt */
}

.contact-details,
.contact-form {
  flex: 2;
  margin: 5px 20px;
  padding: 0 20px;
}

.contact-details {
  margin-left: 100px;
}

.contact-form {
  margin-top: -5px;
  margin-right: 380px;
}

/* Contact Page Form */
.contact-form-container {
  font-family: Georgia;
  width: 200%;
  margin: 0 auto;
  font-size: 16px;
  align-items: center;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: smaller;
}

.name-container,
.phone-container {
  display: flex;
  gap: 10px;
}

.name-container div,
.phone-container div {
  flex: 1;
  margin-top: -5px;
  margin-bottom: 15px;
}

.email-label,
.message-label {
  font-size: 16px;
}

.number-label {
  margin-left: -83px;
}

.phone-container .country-input {
  width: 65%;
}

.phone-container .number-input {
  width: 135%;
  margin-left: -85px;
}

input,
textarea,
button {
  font-family: Georgia;
  box-sizing: border-box;
}

input,
textarea {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

textarea {
  height: 100px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  color: white;
  background-color: #595959;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 110px;
  font-size: 16px; /* 12pt */
}

button:hover {
  background-color: #4c4c4c;
}