.footer-text {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #ffff;
  border-top: 1px solid #ccc;
  font-family: Georgia;
  font-size: 15px; /* 11pt */
  color: #595959;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright,
.footer-address,
.footer-phone-email {
  flex: 1;
  text-align: center;
  margin: 0 10px;
  padding: 0 10px;
}

.footer-copyright {
  text-align: left;
}

.footer-address {
  text-align: center;
}

.footer-phone-email {
  text-align: right;
}

.subscribe-form {
  width: 60%;
  margin: 20px auto 0;
  padding: 20px;
  text-align: center;
  font-family: Georgia;
}

.subscribe-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
}

.subscribe-form-group {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.subscribe-form input {
  margin-top: 5px;
  font-family: Georgia;
  width: 250px;
  font-size: 15px; /* 11pt */
}

.subscribe-form-group input::placeholder {
  font-size: 15px; /* 11pt */
}

.subscribe-form button {
  margin: 0 auto;
  margin-top: 20px;
  font-family: Georgia;
  width: 110px;
  background-color: #595959;
  color: #ffff;
  font-size: 15px; /* 11pt */
}