form {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input,
  select,
  textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  textarea {
    width: calc(100% - 10px);
  }
  
  select {
    width: 50%;
  }
  
  button {
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .contactpage-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 20px;
  }
  
  .name-container {
    display: flex;
  }
  
  .contact-details,
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }

  .contact-form {
    margin-right: 300px;
  }

  .contact-form button {
    font-family: Georgia;
    max-width: 80px;
  }