.product {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.product-images {
  display: flex;
  flex-direction: column;
}

.product-images img {
  width: 100px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.product-image-large {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  margin-left: 50px;
}

.product-image-large .arrow {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
  margin-right: 20px;
}

.product-info {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 20px;
  margin-right: 230px;
}

.product-info h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.product-info p {
  margin: 30px 0;
  font-size: 20px;
}

.product-info .arrows {
  display: flex;
  align-items: center;
}

.product .arrow {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  margin: 0 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enquire-button {
  background-color: #595959;
  font-family: Georgia;
  font-size: 15px;
}