.products-page {
  padding: 15px;
}

.products-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
}

.products-page-tab {
  text-decoration: none;
  color: inherit;
  width: 30%;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.products-page-info {
  padding: 10px;
  text-align: center;
}

.products-page-image {
  max-width: 80%;
  height: auto;
}