.card {
  border: 1px solid #ccc;
  background-size: cover;
  color: #fff;
  height: 500px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 30px;
}

.card-body {
  padding: 20px;
}

.card-title {
  margin-bottom: 5px;
  text-align: center;
  font-family: Georgia;
  font-size: 32px;
  font-weight: normal;
}

.card:nth-child(1) {
  background-image: url('../assets/services_consultation.jpg');
  background-position: calc(-116px);
}

.card:nth-child(2) {
  background-image: url('../assets/services_temple_visits.jpeg');
  background-position: calc(-315px);
}

.card:nth-child(3) {
  background-image: url('../assets/services_events.jpeg');
  background-position: calc(-305px);
}

.services-card {
  background-size: cover;
  background-position: center;
}